{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Entry</title>
    <link rel="stylesheet" type="text/css" href="{% static 'create_ctyle.css' %}">
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_title">Title:</label>
        {{ form.title }}
        
        <label for="id_remarks">Remarks:</label>
        {{ form.remarks }}
        
        <label for="id_amount">Amount:</label>
        {{ form.amount }}
        
        <label for="id_category">Category:</label>
        {{ form.category }}
        
        <label for="id_tx_type">Transaction Type:</label>
        {{ form.tx_type }}
        
        <label for="id_proof">Proof:</label>
        {{ form.proof }}

        <input type="submit" value="Submit">
    </form>
</body>
</html>
