<table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Amount</th>
        <th>Transaction Type</th>
        <th>Remarks</th>
        <th>Category</th>
        <th>Proof</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr>
          <td>{{ entry.title }}</td>
          <td>{{ entry.amount }}</td>
          <td>{{ entry.get_tx_type_display }}</td>
          <td>{{ entry.remarks }}</td>
          <td>{{ entry.get_category_display }}</td>
          <td>
            <!-- {% if entry.proof %}
              <img src="{{ entry.proof.url }}" alt="Proof Image" class="img-fluid">
            {% endif %} -->
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  